*.tar.gz
*.Rcheck/
*.*~
*~

# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
*.Rproj
.Rproj.user

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# compiled objects
*.o
*.so

# other directories
docs/
testing/
working/

# other files
misc/remove_copyright_header.sh

# ignore tags
TAGS
GTAGS
GRTAGS
GPATH
.clang_complete
